fastapi
uvicorn==0.35.0
pymysql
boto3
pydantic
pydantic-settings
httpx
python-dotenv
starlette
# aws-xray-sdk>=2.14.0       # X-Ray 연동

# OpenTelemetry core
opentelemetry-sdk==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-propagator-aws-xray==1.0.1

# Auto-instrumentations
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-instrumentation-requests==0.47b0
opentelemetry-instrumentation-botocore==0.47b0
prometheus-client==0.20.0

opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-asgi