fastapi
uvicorn==0.35.0
pymysql
boto3
pydantic
pydantic-settings
httpx
python-dotenv
starlette
# aws-xray-sdk>=2.14.0       # X-Ray 연동

opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-botocore
opentelemetry-instrumentation-boto3
opentelemetry-propagator-aws-xray
prometheus-client