boto3
firebase-admin==7.1.0
# aws-xray-sdk

# OpenTelemetry core
opentelemetry-sdk==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-propagator-aws-xray==1.0.1

# Auto-instrumentations
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-instrumentation-requests==0.47b0
opentelemetry-instrumentation-botocore==0.47b0